@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="fullscreen-section pv14 bg-cover bg-left-center bg-visible-md" data-bg-image="/images/pages/cover2.jpg" style="background-image: url(/images/pages/cover2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-5">

                <div class="heading">
                    <h3>About Us</h3>
                    <h4>Our Story</h4>
                    <div class="line"></div>
                </div>

                <p>
                    These days are all Happy and Free. These days are all share them with me oh baby. Its time to play the music.
                </p>

                <p>
                    Its time to light the lights. Its time to meet the Muppet Show tonight.And you know where you were then. Girls were girls and men were men. Mister we could use a man like Herbert Hoover again.
                </p>

                <br>
                <p>
                    <a href="javascript:;" class="button small go">Read More</a>
                </p>

            </div>
        </div>
    </div>
</div>