@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="section-content">

    <div class="fullscreen-section pv12 pvt0">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <div class="heading text-center">
                        <h3>Hungry?</h3>
                        <h4>Our Menu</h4>
                        <div class="line img-icon">
                            <img src="/Images/svg/food-spot.svg" alt="svg icon">
                        </div>
                    </div>

                    <p class="text-center">
                        Its time to light the lights. Its time to meet the Muppet Show tonight.And you know where you were then. Girls were girls and men were men. Mister we could use a man like Herbert Hoover again.
                    </p>

                </div>
            </div>
        </div>
    </div>


    <div class="fullwidth-tabs">
        <div class="border-top border-bottom" data-bg-color="#fff" style="background-color: rgb(255, 255, 255);">
            <div class="container-large tabs-nav">
                <div class="row">
                    <div class="col-md-8">
                        <ul>
                            <li><a href="javascript:;"><i class="fa fa-cutlery"></i> Our Menu</a></li>
                            <li class="active"><a href="javascript:;"><i class="fa fa-clock-o"></i> Breakfast</a></li>
                            <li><a href="javascript:;"><i class="fa fa-clock-o"></i> Lunch</a></li>
                            <li><a href="javascript:;"><i class="fa fa-clock-o"></i> Dinner</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <a href="javascript:;" class="button small fill with-icon"><i class="fa fa-tags"></i> Order Online</a>
                        &nbsp;
                        <a href="javascript:;" class="button small fill black with-icon"><i class="fa fa-shopping-cart"></i> Free Delivery</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-cover pv14 bg-right-center bg-visible-md" data-bg-image="/Images/pages/cover5.jpg" data-bg-color="#f5f3f4" style="background-image: url(/Images/pages/cover5.jpg); background-color: rgb(245, 243, 244);">
            <div class="container-large tabs-contents">
                <div class="tabs-content">
                    <div class="row">
                        <div class="col-md-12 mv5 mvt0">
                            <div class="heading text-center pull-left">
                                <h3>Freshy Food</h3>
                                <h4>Precious Taste</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="food-price">
                                <h4>Gosh Egg-White Omelet</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$15.50</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Veggie Frittata</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$20.30</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Oven Fried Apples</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$32.10</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Roasted Red Pepper Hummus</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$41.60</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="food-price">
                                <h4>Powered Turkey Meatballs</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$47.00</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>French Toast</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$52.20</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Creamy Feta Salad Dressing</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$58.90</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Hearty Grain Breakfast</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$63.30</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <a href="javascript:;" class="button small go">View Full Menu</a>
                        </div>
                    </div>
                </div>
                <div class="tabs-content" style="display: block;">
                    <div class="row">
                        <div class="col-md-12 mv5 mvt0">
                            <div class="heading text-center pull-left">
                                <h3>Freshy Food</h3>
                                <h4>Precious Taste</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="food-price">
                                <h4>Gosh Egg-White Omelet</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$15.50</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Veggie Frittata</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$20.30</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Oven Fried Apples</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$32.10</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Roasted Red Pepper Hummus</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$41.60</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="food-price">
                                <h4>Powered Turkey Meatballs</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$47.00</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>French Toast</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$52.20</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Creamy Feta Salad Dressing</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$58.90</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Hearty Grain Breakfast</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$63.30</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <a href="javascript:;" class="button small go">View Full Menu</a>
                        </div>
                    </div>
                </div>
                <div class="tabs-content">
                    <div class="row">
                        <div class="col-md-12 mv5 mvt0">
                            <div class="heading text-center pull-left">
                                <h3>Freshy Food</h3>
                                <h4>Precious Taste</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="food-price">
                                <h4>Gosh Egg-White Omelet</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$15.50</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Veggie Frittata</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$20.30</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Oven Fried Apples</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$32.10</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Roasted Red Pepper Hummus</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$41.60</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="food-price">
                                <h4>Powered Turkey Meatballs</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$47.00</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>French Toast</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$52.20</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Creamy Feta Salad Dressing</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$58.90</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Hearty Grain Breakfast</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$63.30</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <a href="javascript:;" class="button small go">View Full Menu</a>
                        </div>
                    </div>
                </div>
                <div class="tabs-content">
                    <div class="row">
                        <div class="col-md-12 mv5 mvt0">
                            <div class="heading text-center pull-left">
                                <h3>Freshy Food</h3>
                                <h4>Precious Taste</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="food-price">
                                <h4>Gosh Egg-White Omelet</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$15.50</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Veggie Frittata</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$20.30</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Oven Fried Apples</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$32.10</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Roasted Red Pepper Hummus</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$41.60</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="food-price">
                                <h4>Powered Turkey Meatballs</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$47.00</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>French Toast</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$52.20</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Creamy Feta Salad Dressing</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$58.90</span>
                                </p>
                            </div>
                            <div class="food-price">
                                <h4>Hearty Grain Breakfast</h4>
                                <p>
                                    <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                    <span class="fp-amount">$63.30</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <a href="javascript:;" class="button small go">View Full Menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="fullscreen-section pv16" data-bg-image="/Images/pages/cover6.jpg" style="background-image: url(/Images/pages/cover6.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading text-center text-light">
                        <h3>Reservation</h3>
                        <h4>Book your table</h4>
                    </div>
                </div>
            </div>
            <div class="row pv10 pvb0">
                <div class="col-md-10 col-md-offset-1">
                    <form class="transparent text-light">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" placeholder="Your Name *">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Your Email *">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Mobile Number *">
                            </div>
                        </div>
                        <div class="row mv2">
                            <div class="col-sm-4">
                                <input type="text" placeholder="Date *">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Time *">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="No. of Persons *">
                            </div>
                        </div>
                        <div class="row pv2 pvb0">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="button small fill">Book Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pv12 ph10">
        <div class="row">
            <div class="col-sm-12">

                <div class="heading text-center">
                    <h3>Our Gallery</h3>
                </div>


                <div class="portfolio-container masonry mv6 mvb0" data-col-width=".col-md-3" style="position: relative; height: 792.757px;">
                    <div class="col-xs-12 col-sm-6 col-md-3 masonry-item mv3 mvb0" style="position: absolute; left: 0px; top: 0px;">
                        <div class="portfolio-item">
                            <img src="/Images/portfolio/g4-1.jpg" alt="portfolio image">
                            <div class="entry-hover">
                                <div class="entry-meta">
                                    <div class="entry-actions">
                                        <a href="javascript:;"><i class="fa fa-link"></i></a>
                                        <a href="javascript:;"><i class="fa fa-search"></i></a>
                                    </div>
                                    <h3>Its your time talenters</h3>
                                    <a href="javascript:;" class="post-link">View more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 masonry-item mv3 mvb0" style="position: absolute; left: 335px; top: 0px;">
                        <div class="portfolio-item">
                            <img src="/Images/portfolio/g4-2.jpg" alt="portfolio image">
                            <div class="entry-hover">
                                <div class="entry-meta">
                                    <div class="entry-actions">
                                        <a href="javascript:;"><i class="fa fa-link"></i></a>
                                        <a href="javascript:;"><i class="fa fa-search"></i></a>
                                    </div>
                                    <h3>Its your time talenters</h3>
                                    <a href="javascript:;" class="post-link">View more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 masonry-item mv3 mvb0" style="position: absolute; left: 335px; top: 164px;">
                        <div class="portfolio-item">
                            <img src="/Images/portfolio/g4-3.jpg" alt="portfolio image">
                            <div class="entry-hover">
                                <div class="entry-meta">
                                    <div class="entry-actions">
                                        <a href="javascript:;"><i class="fa fa-link"></i></a>
                                        <a href="javascript:;"><i class="fa fa-search"></i></a>
                                    </div>
                                    <h3>Its your time talenters</h3>
                                    <a href="javascript:;" class="post-link">View more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 masonry-item mv3 mvb0" style="position: absolute; left: 0px; top: 628px;">
                        <div class="portfolio-item">
                            <img src="/Images/portfolio/g4-4.jpg" alt="portfolio image">
                            <div class="entry-hover">
                                <div class="entry-meta">
                                    <div class="entry-actions">
                                        <a href="javascript:;"><i class="fa fa-link"></i></a>
                                        <a href="javascript:;"><i class="fa fa-search"></i></a>
                                    </div>
                                    <h3>Its your time talenters</h3>
                                    <a href="javascript:;" class="post-link">View more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>
