@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="fullscreen-section pv12 pvt0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="heading text-center">
                    <h3>Food Gallery</h3>
                    <h4>Best Recipes</h4>
                    <div class="line img-icon">
                        <img src="/Images/svg/food-spot.svg" alt="svg icon">
                    </div>
                </div>

                <p class="text-center">
                    Its time to light the lights. Its time to meet the Muppet Show tonight.And you know where you were then. Girls were girls and men were men. Mister we could use a man like Herbert Hoover again.
                </p>

            </div>
        </div>
    </div>
</div>