@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section class="section-content">

    <div class="container">

        <div class="row">

            <div class="col-sm-9 with-sidebar">

                <div class="blog-container">

                    @for(int i=0; i<4; i++)
                    {
                    <article class="blog-item">
                        <div class="entry-date"><span>Febrauary 14, 2016</span></div>

                        <div class="entry-media">
                            <a href="single.html" class="el-link">
                                <img src="/Images/blog/b1.jpg" alt="blog image">
                            </a>
                        </div>

                        <div class="entry-excerpt">
                            <h2 class="post-title">
                                <a href="single.html">Christmas Party</a>
                            </h2>

                            <div class="entry-category">
                                <a href="javascript:;">Our Events</a>
                            </div>

                            <p>
                                Mister we could use a man like herbert hoover again just two good old boys never meaning no harm beats all you have ever saw been in trouble with the law since the day they was born the way we all became the brady bunch.
                            </p>

                            <div class="read-more">
                                <a href="single.html" class="button bordered fill small">Read More</a>

                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <img src="/Images/svg/share.svg" alt="svg icon">
                                            <span>30</span>
                                        </li>
                                        <li>
                                            <img src="/Images/svg/heart.svg" alt="svg icon">
                                            <span>24</span>
                                        </li>
                                        <li>
                                            <img src="/Images/svg/comment.svg" alt="svg icon">
                                            <span>12</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    }
              
                </div>



                <div class="post-navigation mv5">
                    <ul>
                        <li><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>


            </div>


            <div class="col-sm-3 sidebar">

                <div class="widget">
                    <form class="search_form">
                        <input type="text" name="2" placeholder="Search...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>


                <div class="widget">
                    <h5 class="widget-title"><span>Categories</span></h5>
                    <ul>
                        <li>
                            <a href="javascript:;">Gallery Post</a>
                            <span>4</span>
                        </li>
                        <li>
                            <a href="javascript:;">Standard Post</a>
                            <span>2</span>
                        </li>
                        <li>
                            <a href="javascript:;">Video Post</a>
                            <span>2</span>
                        </li>
                        <li>
                            <a href="javascript:;">News</a>
                            <span>3</span>
                        </li>
                        <li>
                            <a href="javascript:;">Quotes</a>
                            <span>1</span>
                        </li>
                    </ul>
                </div>


                <div class="widget">
                    <h5 class="widget-title"><span>Popular Posts</span></h5>
                    <ul class="recent-posts">
                        <li>
                            <a href="javascript:;" class="rp-media">
                                <img src="/Images/blog/sb1.png" alt="image">
                            </a>
                            <div class="rp-info">
                                <a href="javascript:;" class="link-post">The movie star the professor and Mary Ann</a>
                                <span>On 07 Feb 2016</span>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;" class="rp-media">
                                <img src="/Images/blog/sb2.png" alt="image">
                            </a>
                            <div class="rp-info">
                                <a href="javascript:;" class="link-post">Biggest gift would be from me and my daddy</a>
                                <span>On 07 Feb 2016</span>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;" class="rp-media">
                                <img src="/Images/blog/sb3.png" alt="image">
                            </a>
                            <div class="rp-info">
                                <a href="javascript:;" class="link-post">Now the world don't move to the beat of just one drum</a>
                                <span>On 07 Feb 2016</span>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="widget">
                    <h5 class="widget-title"><span>Archive</span></h5>
                    <ul>
                        <li>
                            <a href="javascript:;">January</a>
                            <span>4</span>
                        </li>
                        <li>
                            <a href="javascript:;">Febrary</a>
                            <span>2</span>
                        </li>
                        <li>
                            <a href="javascript:;">March</a>
                            <span>2</span>
                        </li>
                        <li>
                            <a href="javascript:;">April</a>
                            <span>3</span>
                        </li>
                        <li>
                            <a href="javascript:;">May</a>
                            <span>1</span>
                        </li>
                    </ul>
                </div>


                <div class="widget">
                    <h5 class="widget-title"><span>Tag Cloud</span></h5>
                    <div class="widget-tags">
                        <a href="javascript:;">Cookies</a>
                        <a href="javascript:;">Snacks</a>
                        <a href="javascript:;">Sea Foods</a>
                        <a href="javascript:;">Classic Meal</a>
                        <a href="javascript:;">Spicy</a>
                        <a href="javascript:;">Ice Creams</a>
                    </div>
                </div>





            </div>

        </div>
    </div>
</section>
