@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="section-content">

    <div class="fullscreen-section pv14">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="heading text-left">
                        <h3>Call Us</h3>
                        <h4>Reserve By Phone</h4>
                        <div class="line"></div>
                    </div>

                    <p class="mv3 mvt0">
                        These days are all happy and free these days are all share them with me oh baby it’s time to play the music.
                    </p>

                    <div class="row">
                        <div class="col-sm-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="valign-middle">
                                            <div data-width="20px" class="mh2 mhl0" style="width: 20px;">
                                                <svg data-width="20px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 32" enable-background="new 0 0 20 32" xml:space="preserve" style="width: 20px;">
                                                <g>
                                                <path fill="#ffca47" d="M20,8H0V0h20V8z M2,6h16V2H2V6z"></path>
                                                <path fill="#ffca47" d="M20,32H0V10h2v20h16V10h2V32z"></path>
                                                <path fill="#ffca47" d="M9,26h2v2H9V26z"></path>
                                                <path fill="#ffca47" d="M8,3h4v2H8V3z"></path>
                                                <path fill="#ffca47" d="M1,22h18v2H1V22z"></path>
                                                        </g>
                                                    </svg>
                                            </div>
                                        </td>
                                        <td class="valign-middle">
                                            <em>
                                                (01) 987 654 32 10<br>
                                                (01)234 567 89 10
                                            </em>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="valign-middle">
                                            <div data-width="32px" class="mh2 mhl0" style="width: 32px;">
                                                <svg data-width="32px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 33 33" enable-background="new 0 0 33 33" xml:space="preserve" style="width: 32px;">
                                                <g>
                                                <path fill="#ffca47" d="M21.6,32.6c-4.7,0-10-2.3-14.3-6.5C0.5,19.3-1.4,9.8,3,4l1.6,1.2c-3.7,4.9-1.9,13.4,4.1,19.4c6,6,14.4,7.7,19.2,3.9l1.3,1.6C27,31.8,24.4,32.6,21.6,32.6z"></path>
                                                <path fill="#ffca47" d="M30.9,27.7l-7.6-7.6L22,21.5c-1.4,1.4-3.3,2.2-5.4,2.2c-2,0-3.9-0.8-5.4-2.2c-3-3-3-7.8,0-10.7l1.4-1.4L5.1,1.8l1.4-1.4l9,9l-2.8,2.8c-2.2,2.2-2.2,5.7,0,7.9c1.1,1.1,2.5,1.6,3.9,1.6c1.5,0,2.9-0.6,3.9-1.6l2.8-2.8l9,9L30.9,27.7z"></path>
                                                        </g>
                                                    </svg>
                                            </div>
                                        </td>
                                        <td class="valign-middle">
                                            <em>
                                                +11-456-789-23<br>
                                                +11-789-456-21
                                            </em>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="heading text-left">
                        <h3>Message</h3>
                        <h4>Reserve By E-Mail</h4>
                        <div class="line"></div>
                    </div>

                    <p class="mv3 mvt0">
                        Fleeing from the cylon tyranny the last battlestar galactica leads a rag tag fugitive fleet on a lonely quest a shining.
                    </p>

                    <table>
                        <tbody>
                            <tr>
                                <td class="valign-middle">
                                    <div data-width="32px" class="mh2 mhl0" style="width: 32px;">
                                        <svg data-width="32px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 26" enable-background="new 0 0 32 26" xml:space="preserve" style="width: 32px;">
                                        <g>
                                        <path fill="#ffca47" d="M32,26H0V0h32V26z M2,24h28V2H2V24z"></path>
                                        <path fill="#ffca47" d="M9.1,9.5l1.7,1l-6,10l-1.7-1L9.1,9.5z"></path>
                                        <path fill="#ffca47" d="M16,14.1L3.6,7.9l0.9-1.8L16,11.9l11.6-5.8l0.9,1.8L16,14.1z"></path>
                                        <path fill="#ffca47" d="M22.9,9.5l6,10l-1.7,1l-6-10L22.9,9.5z"></path>
                                                </g>
                                            </svg>
                                    </div>
                                </td>
                                <td class="valign-middle">
                                    <em>
                                        info@rozariomail.com<br>
                                        admin@rozario.com
                                    </em>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="fullscreen-section pv16" data-bg-image="/Images/pages/cover6.jpg" style="background-image: url(/Images/pages/cover6.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading text-center text-light">
                        <h3>Reservation</h3>
                        <h4>Book your table</h4>
                    </div>
                </div>
            </div>
            <div class="row pv10 pvb0">
                <div class="col-md-10 col-md-offset-1">
                    <form class="transparent text-light">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" placeholder="Your Name *">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Your Email *">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Mobile Number *">
                            </div>
                        </div>
                        <div class="row mv2">
                            <div class="col-sm-4">
                                <input type="text" placeholder="Date *">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Time *">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="No. of Persons *">
                            </div>
                        </div>
                        <div class="row pv2 pvb0">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="button small fill">Book Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="fullscreen-section pv14 bg-contain bg-center-top" data-bg-color="#FAFAFA" data-bg-image="/Images/pages/cover13.jpg" style="background-image: url(/Images/pages/cover13.jpg); background-color: rgb(250, 250, 250);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="heading text-center">
                        <h3>Freshy Food</h3>
                        <h4>Precious Taste</h4>
                        <div class="line img-icon">
                            <img src="/Images/svg/spoon.svg" data-width="27px" alt="svg icon" style="width: 27px;">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mv3">
                <div class="col-sm-4 text-left pv2">
                    <h3>BREAKFAST</h3>
                </div>
                <div class="col-sm-4 text-center pv2 bg-contain bg-center-center" data-bg-image="/Images/svg/fruits.svg" style="background-image: url(/Images/svg/fruits.svg);">
                    <h3>LUNCH</h3>
                </div>
                <div class="col-sm-4 text-right pv2">
                    <h3>DINNER</h3>
                </div>
            </div>
            <div class="row pv3">
                <div class="col-sm-5">
                    <div class="food-price">
                        <h4>Gosh Egg-White Omelet</h4>
                        <p>
                            <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                            <span class="fp-amount">$15.50</span>
                        </p>
                    </div>
                    <div class="food-price">
                        <h4>Veggie Frittata</h4>
                        <p>
                            <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                            <span class="fp-amount">$20.30</span>
                        </p>
                    </div>
                    <div class="food-price">
                        <h4>Oven Fried Apples</h4>
                        <p>
                            <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                            <span class="fp-amount">$32.10</span>
                        </p>
                    </div>
                    <div class="food-price">
                        <h4>Roasted Red Pepper Hummus</h4>
                        <p>
                            <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                            <span class="fp-amount">$41.60</span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <div class="food-price">
                        <h4>Powered Turkey Meatballs</h4>
                        <p>
                            <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                            <span class="fp-amount">$47.00</span>
                        </p>
                    </div>
                    <div class="food-price">
                        <h4>French Toast</h4>
                        <p>
                            <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                            <span class="fp-amount">$52.20</span>
                        </p>
                    </div>
                    <div class="food-price">
                        <h4>Creamy Feta Salad Dressing</h4>
                        <p>
                            <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                            <span class="fp-amount">$58.90</span>
                        </p>
                    </div>
                    <div class="food-price">
                        <h4>Hearty Grain Breakfast</h4>
                        <p>
                            <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                            <span class="fp-amount">$63.30</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        <a href="javascript:;" class="button small go">View Full Menu</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
