@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="fullscreen-section">
    <div class="container pv12 section-meet-our-chef" data-bg-image="/images/pages/chef.png" style="background-image: url(/images/pages/chef.png);">
        <div class="row">
            <div class="col-md-6">
                <div class="heading text-center">
                    <h3>Meet Our</h3>
                    <h4>Chef</h4>
                    <div class="line img-icon">
                        <img src="~/images/svg/cook-hat.svg" alt="svg icon" data-width="20px" style="width: 20px;">
                    </div>
                </div>

                <p class="text-center">
                    The mate was a mighty sailing man the Skipper brave and sure. Five passengers set sail that day for a three hour tour a three hour tour.  The Brady Bunch the Brady Bunch that's the way we all became the Brady Bunch.
                </p>

                <div class="heading-small mv4">
                    <div>
                        <h4>John Peter</h4>
                        <h6>Executive Chef</h6>
                    </div>
                </div>

                <p class="text-center">
                    <img src="~/images/svg/signature.svg" alt="signature image" data-width="136px" style="width: 136px;">
                </p>

                <div class="hidden-md hidden-lg">
                    <div class="pv16"></div>
                    <div class="pv16 hidden-xs"></div>
                </div>
            </div>
        </div>
    </div>
</div>