@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="fullwidth-tabs">
    <div class="border-top border-bottom" data-bg-color="#fff" style="background-color: rgb(255, 255, 255);">
        <div class="container-large tabs-nav">
            <div class="row">
                <div class="col-md-8">
                    <ul>
                        <li><a href="javascript:;"><i class="fa fa-cutlery"></i> Our Menu</a></li>
                        <li class="active"><a href="javascript:;"><i class="fa fa-clock-o"></i> Breakfast</a></li>
                        <li><a href="javascript:;"><i class="fa fa-clock-o"></i> Lunch</a></li>
                        <li><a href="javascript:;"><i class="fa fa-clock-o"></i> Dinner</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <a href="javascript:;" class="button small fill with-icon"><i class="fa fa-tags"></i> Order Online</a>
                    &nbsp;
                    <a href="javascript:;" class="button small fill black with-icon"><i class="fa fa-shopping-cart"></i> Free Delivery</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-cover pv14 bg-right-center bg-visible-md" data-bg-image="/images/pages/cover5.jpg" data-bg-color="#f5f3f4" style="background-image: url(/images/pages/cover5.jpg;); background-color: rgb(245, 243, 244);">
        <div class="container-large tabs-contents">
            <div class="tabs-content">
                <div class="row">
                    <div class="col-md-12 mv5 mvt0">
                        <div class="heading text-center pull-left">
                            <h3>Freshy Food</h3>
                            <h4>Precious Taste</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-price">
                            <h4>Gosh Egg-White Omelet</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$15.50</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Veggie Frittata</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$20.30</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Oven Fried Apples</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$32.10</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Roasted Red Pepper Hummus</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$41.60</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-price">
                            <h4>Powered Turkey Meatballs</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$47.00</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>French Toast</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$52.20</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Creamy Feta Salad Dressing</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$58.90</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Hearty Grain Breakfast</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$63.30</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <a href="javascript:;" class="button small go">View Full Menu</a>
                    </div>
                </div>
            </div>
            <div class="tabs-content" style="display: block;">
                <div class="row">
                    <div class="col-md-12 mv5 mvt0">
                        <div class="heading text-center pull-left">
                            <h3>Freshy Food</h3>
                            <h4>Precious Taste</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-price">
                            <h4>Gosh Egg-White Omelet</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$15.50</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Veggie Frittata</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$20.30</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Oven Fried Apples</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$32.10</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Roasted Red Pepper Hummus</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$41.60</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-price">
                            <h4>Powered Turkey Meatballs</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$47.00</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>French Toast</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$52.20</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Creamy Feta Salad Dressing</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$58.90</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Hearty Grain Breakfast</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$63.30</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <a href="javascript:;" class="button small go">View Full Menu</a>
                    </div>
                </div>
            </div>
            <div class="tabs-content">
                <div class="row">
                    <div class="col-md-12 mv5 mvt0">
                        <div class="heading text-center pull-left">
                            <h3>Freshy Food</h3>
                            <h4>Precious Taste</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-price">
                            <h4>Gosh Egg-White Omelet</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$15.50</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Veggie Frittata</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$20.30</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Oven Fried Apples</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$32.10</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Roasted Red Pepper Hummus</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$41.60</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-price">
                            <h4>Powered Turkey Meatballs</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$47.00</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>French Toast</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$52.20</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Creamy Feta Salad Dressing</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$58.90</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Hearty Grain Breakfast</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$63.30</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <a href="javascript:;" class="button small go">View Full Menu</a>
                    </div>
                </div>
            </div>
            <div class="tabs-content">
                <div class="row">
                    <div class="col-md-12 mv5 mvt0">
                        <div class="heading text-center pull-left">
                            <h3>Freshy Food</h3>
                            <h4>Precious Taste</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-price">
                            <h4>Gosh Egg-White Omelet</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$15.50</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Veggie Frittata</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$20.30</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Oven Fried Apples</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$32.10</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Roasted Red Pepper Hummus</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$41.60</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-price">
                            <h4>Powered Turkey Meatballs</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$47.00</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>French Toast</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$52.20</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Creamy Feta Salad Dressing</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$58.90</span>
                            </p>
                        </div>
                        <div class="food-price">
                            <h4>Hearty Grain Breakfast</h4>
                            <p>
                                <span class="fp-title">The first mate and his Skipper too will do their very best to make comfortable</span>
                                <span class="fp-amount">$63.30</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <a href="javascript:;" class="button small go">View Full Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>