@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="fullscreen-section pv14 bg-cover bg-center-top" data-bg-image="/Images/pages/cover7.jpg" style="background-image: url(/Images/pages/cover7.jpg;);">
    <div class="container-large">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h3>Meet Our</h3>
                    <h4>Team</h4>
                    <div class="line img-icon">
                        <img src="/Images/svg/cook-hat.svg" data-width="20px" alt="svg icon" style="width: 20px;">
                    </div>
                </div>

                <div class="team-carousel">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transform: translate3d(-1026.25px, 0px, 0px); transition-duration: 0ms;">
                            <div class="swiper-slide col-sm-4 swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 410.5px;">
                                <div class="team-member">
                                    <div class="entry-image">
                                        <img src="/Iimages/pages/t1.png" alt="team image">
                                        <div class="entry-info">
                                            <h3>John Peter</h3>
                                            <h5>Executive Chef</h5>
                                            <div class="socials">
                                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="swiper-slide col-sm-4 swiper-slide-duplicate" data-swiper-slide-index="1" style="width: 410.5px;">
                                <div class="team-member">
                                    <div class="entry-image">
                                        <img src="/Images/pages/t2.png" alt="team image">
                                        <div class="entry-info">
                                            <h3>Princy</h3>
                                            <h5>Founder &amp; Chef</h5>
                                            <div class="socials">
                                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="swiper-slide col-sm-4 swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2" style="width: 410.5px;">
                                <div class="team-member">
                                    <div class="entry-image">
                                        <img src="/Images/pages/t3.png" alt="team image">
                                        <div class="entry-info">
                                            <h3>Richards</h3>
                                            <h5>Master Chef</h5>
                                            <div class="socials">
                                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide col-sm-4 swiper-slide-active" data-swiper-slide-index="0" style="width: 410.5px;">
                                <div class="team-member">
                                    <div class="entry-image">
                                        <img src="/Images/pages/t1.png" alt="team image">
                                        <div class="entry-info">
                                            <h3>John Peter</h3>
                                            <h5>Executive Chef</h5>
                                            <div class="socials">
                                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide col-sm-4 swiper-slide-next" data-swiper-slide-index="1" style="width: 410.5px;">
                                <div class="team-member">
                                    <div class="entry-image">
                                        <img src="/Images/pages/t2.png" alt="team image">
                                        <div class="entry-info">
                                            <h3>Princy</h3>
                                            <h5>Founder &amp; Chef</h5>
                                            <div class="socials">
                                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide col-sm-4" data-swiper-slide-index="2" style="width: 410.5px;">
                                <div class="team-member">
                                    <div class="entry-image">
                                        <img src="/Images/pages/t3.png" alt="team image">
                                        <div class="entry-info">
                                            <h3>Richards</h3>
                                            <h5>Master Chef</h5>
                                            <div class="socials">
                                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide col-sm-4 swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 410.5px;">
                                <div class="team-member">
                                    <div class="entry-image">
                                        <img src="/Images/pages/t1.png" alt="team image">
                                        <div class="entry-info">
                                            <h3>John Peter</h3>
                                            <h5>Executive Chef</h5>
                                            <div class="socials">
                                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="swiper-slide col-sm-4 swiper-slide-duplicate" data-swiper-slide-index="1" style="width: 410.5px;">
                                <div class="team-member">
                                    <div class="entry-image">
                                        <img src="/Images/pages/t2.png" alt="team image">
                                        <div class="entry-info">
                                            <h3>Princy</h3>
                                            <h5>Founder &amp; Chef</h5>
                                            <div class="socials">
                                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="swiper-slide col-sm-4 swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 410.5px;">
                                <div class="team-member">
                                    <div class="entry-image">
                                        <img src="/Images/pages/t3.png" alt="team image">
                                        <div class="entry-info">
                                            <h3>Richards</h3>
                                            <h5>Master Chef</h5>
                                            <div class="socials">
                                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>