@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="fullscreen-section pv6">
    <div class="container-large">
        <div class="row">
            <div class="col-md-12">

                <div class="clients-carousel" data-cols="5">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transform: translate3d(-718.375px, 0px, 0px); transition-duration: 0ms;">
                            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c1.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c2.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c3.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c4.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c5.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c1.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c2.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="2" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c3.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="3" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c4.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="4" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c5.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c1.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c2.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c3.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c4.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" style="width: 205.25px;">
                                <div class="client-logo">
                                    <a href="javascript:;">
                                        <img src="~/images/pages/c5.svg" alt="svg image" class="full-size">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>