@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="fullscreen-section">
    <div class="portfolio-container masonry" data-col-width=".col-md-3" style="position: relative; height: 676.539px;">

        <div class="col-xs-12 col-sm-4 col-md-6 ph0 masonry-item" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-item">
                <img src="~/images/portfolio/g1.jpg" alt="portfolio image">
                <div class="entry-hover">
                    <div class="entry-meta">
                        <div class="entry-actions">
                            <a href="javascript:;"><i class="fa fa-link"></i></a>
                            <a href="javascript:;"><i class="fa fa-search"></i></a>
                        </div>
                        <h3>Its your time talenters</h3>
                        <a href="javascript:;" class="post-link">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ph0 masonry-item" style="position: absolute; left: 288px; top: 0px;">
            <div class="portfolio-item">
                <img src="~/images/portfolio/g2.jpg" alt="portfolio image">
                <div class="entry-hover">
                    <div class="entry-meta">
                        <div class="entry-actions">
                            <a href="javascript:;"><i class="fa fa-link"></i></a>
                            <a href="javascript:;"><i class="fa fa-search"></i></a>
                        </div>
                        <h3>Its your time talenters</h3>
                        <a href="javascript:;" class="post-link">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ph0 masonry-item" style="position: absolute; left: 577px; top: 0px;">
            <div class="portfolio-item">
                <img src="~/images/portfolio/g3.jpg" alt="portfolio image">
                <div class="entry-hover">
                    <div class="entry-meta">
                        <div class="entry-actions">
                            <a href="javascript:;"><i class="fa fa-link"></i></a>
                            <a href="javascript:;"><i class="fa fa-search"></i></a>
                        </div>
                        <h3>Its your time talenters</h3>
                        <a href="javascript:;" class="post-link">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ph0 masonry-item" style="position: absolute; left: 0px; top: 135px;">
            <div class="portfolio-item">
                <img src="~/images/portfolio/g4.jpg" alt="portfolio image">
                <div class="entry-hover">
                    <div class="entry-meta">
                        <div class="entry-actions">
                            <a href="javascript:;"><i class="fa fa-link"></i></a>
                            <a href="javascript:;"><i class="fa fa-search"></i></a>
                        </div>
                        <h3>Its your time talenters</h3>
                        <a href="javascript:;" class="post-link">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ph0 masonry-item" style="position: absolute; left: 577px; top: 270px;">
            <div class="portfolio-item">
                <img src="~/images/portfolio/g5.jpg" alt="portfolio image">
                <div class="entry-hover">
                    <div class="entry-meta">
                        <div class="entry-actions">
                            <a href="javascript:;"><i class="fa fa-link"></i></a>
                            <a href="javascript:;"><i class="fa fa-search"></i></a>
                        </div>
                        <h3>Its your time talenters</h3>
                        <a href="javascript:;" class="post-link">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ph0 masonry-item" style="position: absolute; left: 0px; top: 405px;">
            <div class="portfolio-item">
                <img src="~/images/portfolio/g6.jpg" alt="portfolio image">
                <div class="entry-hover">
                    <div class="entry-meta">
                        <div class="entry-actions">
                            <a href="javascript:;"><i class="fa fa-link"></i></a>
                            <a href="javascript:;"><i class="fa fa-search"></i></a>
                        </div>
                        <h3>Its your time talenters</h3>
                        <a href="javascript:;" class="post-link">View more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
