@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="fullscreen-section pv14" data-bg-color="#fff" style="background-color: rgb(255, 255, 255);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h3>Testimonials</h3>
                    <h4>our Customers</h4>
                    <div class="line img-icon">
                        <img src="/Images/svg/profile.svg" alt="svg icon" data-width="16px" style="width: 16px;">
                    </div>
                </div>


                <div class="swiper-container carousel-container swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-active" style="width: 840px;">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="testimonial with-avatar">
                                        <img src="/Images/pages/author-testy.png" alt="testimonials author">
                                        <p>
                                            “ That this group would somehow form a family that's the way we all became the Brady Bunch. These days are all Happy and Free. These days are all share them with me oh baby.”
                                        </p>

                                        <div class="entry-meta">
                                            <h4>Shela Mathews</h4>
                                            <p>CEO, Freshy Food</p>
                                            <p class="color-brand">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-full"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-next" style="width: 840px;">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="testimonial with-avatar">
                                        <img src="/Images/pages/author-testy.png" alt="testimonials author">
                                        <p>
                                            “ That this group would somehow form a family that's the way we all became the Brady Bunch. These days are all Happy and Free. These days are all share them with me oh baby.”
                                        </p>

                                        <div class="entry-meta">
                                            <h4>Shela Mathews</h4>
                                            <p>CEO, Freshy Food</p>
                                            <p class="color-brand">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-full"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 840px;">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="testimonial with-avatar">
                                        <img src="/Images/pages/author-testy.png" alt="testimonials author">
                                        <p>
                                            “ That this group would somehow form a family that's the way we all became the Brady Bunch. These days are all Happy and Free. These days are all share them with me oh baby.”
                                        </p>

                                        <div class="entry-meta">
                                            <h4>Shela Mathews</h4>
                                            <p>CEO, Freshy Food</p>
                                            <p class="color-brand">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-full"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-clickable"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                </div>

            </div>
        </div>
    </div>
</div>