@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<section class="page-title" data-bg-image="/Images/pages/cover1.jpg" style="background-image: url(/Images/pages/cover1.jpg);">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Contact Us</h1>
                <ol class="breadcrumb">
                    <li><a href="javascript:;">Home</a></li>
                    <li>Contacts</li>
                </ol>
            </div>
        </div>
    </div>

</section>










<section class="section-content">

    @Html.Partial("../Partials/ContactUs.cshtml")

</section>

